.section-presentation {
    background-color: #FAFAFA;
    padding:  90px 190px 0 190px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.present {
    width: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.02em;
    font-family: 'Figtree', sans-serif;
}
.p1 {
    margin-bottom: 30px;
}
.question {
    width: 40%;
}
.question h3 {
    font-family: 'Figtree', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
}
.question p {
    font-family: 'Figtree', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    /* or 156% */

    letter-spacing: -0.005em;

    color: #B48FF5;
}
@media only screen and (max-width: 1100px) {
    .section-presentation {
        background-color: #FAFAFA;
        padding:  80px 50px 0 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .present {
        width: 40%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.02em;
        font-family: 'Figtree', sans-serif;
    }
    .p1 {
        margin-bottom: 30px;
    }
    .question {
        width: 40%;
    }
    .question h3 {
        font-family: 'Figtree', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .question p {
        font-family: 'Figtree', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 50px;
        /* or 156% */
    
        letter-spacing: -0.005em;
    
        color: #B48FF5;
    }
    .present {
        width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.02em;
        font-family: 'Figtree', sans-serif;
    }
    .question {
        width: 100%;
        padding: 50px 0;
    }
  }