footer {
    position: relative;
    height: auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.51) 0%, rgba(171, 227, 196, 0.6) 100%);
}
.content-footer {
    width: 550px;
    padding: 20px 150px ;
}
.content-footer h2 {
    font-size: 23px;
    font-weight: 700;
}